/* Section Transition */
.section {
  opacity: 0;
  text-align: center;
  transition: opacity 1s ease;
}

.section.visible {
  opacity: 1;
}

/* Image Scale-Up Transition */
.section img {
  border-radius: 50%;
  transform: scale(0.9);
  transition: transform 1s ease;
}

.section.visible img {
  transform: scale(1);
}

/* Heading and Paragraph Translate and Color Change */
.section h1,
.section p {
  transform: translateY(10px);
  transition:
    transform 1s ease,
    color 1s ease;
  color: oklch(from #222222 calc(l + 0.5) c h);
}

.section.visible h1,
.section.visible p {
  transform: translateY(0);
  color: #222222;
}
