@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 2s ease forwards;
}

.fade-out {
  animation: fadeOut 2s ease forwards;
}

.round {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card {
  align-items: center;
  border-radius: 2vw;
  border: 2rem solid var(--primary-color);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  margin: 3rem 0;
}

.card:nth-of-type(even) {
  border-color: var(--secondary-color);
}

.card header,
.card footer {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 0.5rem 2rem;
}

.card:nth-of-type(even) header,
.card:nth-of-type(even) footer {
  background-color: var(--secondary-color);
}

.card header {
  border-bottom-left-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
}

.card footer {
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
}

.card footer p {
  margin-bottom: 0;
}

.card ul {
  text-align: left;
}

.links-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

.links-container a {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

.links-container a img {
  margin-bottom: 1rem;
}
